@import '../../styles/shared-styles.scss';


.intro-section {
    color: #000;
    padding: 20px;
    text-align: center;
}

.product-header {
    color: #000;
}

.form-control {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}


.form-label {
    color: #000;
}

.product-header {
    color: #000;
}

.product-order {
    color: #000;
}